*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-image: url(/Timetable_frontend/DepartmentsXOX/IMG/drew-beamer-kUHfMW8awpE-unsplash.jpg);
    background-size: cover;
    background-position: center;

}

nav{
    background-color: rgb(4, 25, 88, 0.808);
    height: 70px;
    width: 100%;
    font-family: Tahoma;
}

label.logo{
    font-size: 20px;
    color: aliceblue;
    line-height: 70px;
    padding: 0 50px;
}

nav ul{
    float: right;
    margin-right: 50px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
a.active a:hover{
    background-color: #1b9ff1;
    transition: .5s;
}
.heading{
    padding: 20px;
    text-align: center;
    background-color: rgb(184, 217, 243);
    
}
.dropbtn {
    background-color: #3304aa;
    color: white;
    padding: 16px  ;
    font-size: 16px;
    border: none;
    width: 500px;
    position: relative;
    border-radius: 15px; 
    margin: auto;  
}

.dropbtn:hover {background-color:  rgb(6, 40, 67); 
}

.center{
  margin: auto;
  width: 500px;
  padding-top: 20px;
}


/* Start of Level 100 */
#onedrop:hover .submenu-11{
  display: inline-block;
  position: absolute;
}

/* #onedrop:hover .submenu-11 li:nth-child(1){
  border-bottom: 1px solid black;
} */

.fa-angle-right{
  float: right;
}

.submenu-11{
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  padding-left: 10px;
  height: 90px;
  
}

.submenu-11 a {
  color: #000;
  text-align: center;
  text-decoration: none;
}
.submenu-11 a:hover {
  color: #3304aa;

}

.submenu-11 li{
  margin: 8px;
  padding: 8px;
  list-style: none;
  
  
}
.submenu-11 li:hover{
  background-color: #ddd;

}

.morning100{
  display: none;
  position:absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  height: 90px;
}

.sessions_100m:hover .morning100 li:nth-child(1){
border-bottom: 1px solid black;
}
.evening100{
  display:none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  padding-left: 10px;
  height: 90px;
}

.sessions_100m:hover .morning100{
  display:inline-block;
  margin-top: 10px;
  margin-left: 40px;
  position: absolute;
  
}

.sessions_100e:hover .evening100{
  display:block;
  margin-top: 10px;
  margin-left: 100px;

}
.sessions_100e{
  position: relative;
}

.sessions_100m{
  position: relative;
}

#onedrop{
  text-align: center;

}
/* End of Level 100 */

/* Start of Level 200 */
#twodrop:hover .submenu-21{
  display: inline-block;
  position: absolute;
}

#twodrop:hover .submenu-21 li:nth-child(1){
  border-bottom: 1px solid black;
}

.fa-angle-right{
  float: right;
}

.submenu-21{
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  padding-left: 10px;
  height: 90px;
  
}

.submenu-21 a {
  color: #000;
  text-align: center;
  text-decoration: none;
}
.submenu-21 a:hover {
  color: #3304aa;

}

.submenu-21 li{
  margin: 8px;
  padding: 8px;
  list-style: none;
  
  
}
.submenu-21 li:hover{
  background-color: #ddd;

}

.morning200{
  display: none;
  position:absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  height: 90px;
}

#twodrop.morning200 li:nth-child(1){
  border-bottom: 1px solid black;
}
.evening200{
  display:none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  padding-left: 10px;
  height: 90px;
}

.sessions_200m:hover .morning200{
  display:inline-block;
  margin-top: 10px;
  margin-left: 40px;
  position: absolute;
  
}

.sessions_200e:hover .evening200{
  display:block;
  margin-top: 10px;
  margin-left: 100px;

}
.sessions_200e{
  position: relative;
}

.sessions_200m{
  position: relative;
}

#twodrop{
  text-align: center;

}
/* End of Level 200 */

/* Start of Level 300 */
#threedrop:hover .submenu-31{
  display: inline-block;
  position: absolute;
}

#threedrop:hover .submenu-31 li:nth-child(1){
  border-bottom: 1px solid black;
}

.fa-angle-right{
  float: right;
}

.submenu-31{
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  padding-left: 10px;
  height: 90px;
  
}

.submenu-31 a {
  color: #000;
  text-align: center;
  text-decoration: none;
}
.submenu-31 a:hover {
  color: #3304aa;

}

.submenu-31 li{
  margin: 8px;
  padding: 8px;
  list-style: none;
  
  
}
.submenu-31 li:hover{
  background-color: #ddd;

}

.morning300{
  display: none;
  position:absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  height: 90px;
}

#threedrop.morning300 li:nth-child(1){
  border-bottom: 1px solid black;
}
.evening300{
  display:none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  padding-left: 10px;
  height: 90px;
}

.sessions_300m:hover .morning300{
  display:inline-block;
  margin-top: 10px;
  margin-left: 40px;
  position: absolute;
  
}

.sessions_300e:hover .evening300{
  display:block;
  margin-top: 10px;
  margin-left: 100px;

}
.sessions_300e{
  position: relative;
}

.sessions_300m{
  position: relative;
}

#threedrop{
  text-align: center;

}
/* End of Level 300 */


/* Start of Level 400 */
#fourdrop:hover .submenu-41{
  display: inline-block;
  position: absolute;
}

#fourdrop:hover .submenu-41 li:nth-child(1){
  border-bottom: 1px solid black;
}

.fa-angle-right{
  float: right;
}

.submenu-41{
  display: none;
  position: relative;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  padding-left: 10px;
  height: 90px;
  
}

.submenu-41 a {
  color: #000;
  text-align: center;
  text-decoration: none;
}
.submenu-41 a:hover {
  color: #3304aa;

}

.submenu-41 li{
  margin: 8px;
  padding: 8px;
  list-style: none;
  
  
}
.submenu-41 li:hover{
  background-color: #ddd;

}

.morning400{
  display: none;
  position:absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  height: 90px;
}

#fourdrop.morning400 li:nth-child(1){
  border-bottom: 1px solid black;
}
.evening400{
  display:none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
  width: 1.8em;
  padding-left: 10px;
  height: 90px;
}

.sessions_400m:hover .morning400{
  display:inline-block;
  margin-top: 10px;
  margin-left: 40px;
  position: absolute;
  
}

.sessions_400e:hover .evening400{
  display:block;
  margin-top: 10px;
  margin-left: 100px;

}
.sessions_400e{
  position: relative;
}

.sessions_400m{
  position: relative;
}

#fourdrop{
  text-align: center;

}
/* End of Level 400 */




