*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
margin: 0;
background-image: url(/Timetable_frontend/DepartmentsXOX/IMG/side.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 0px;
}
 .navbar{
     color: rgb(4, 25, 88, 0.808); 
    height: 70px;
    width: 100%;
    font-family: Tahoma;
   
}

.container-fluid{
    background-color:rgb(4, 25, 88, 0.808) ;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
}
 label.Logo{
    font-size: 20px;
    color: aliceblue;
    line-height: 70px;
    padding: 0px 50px;

}

nav ul{
    float: right;
    margin-right: 50px;

}

.navbar{
    display: inline-block;
    line-height: 70px;
    
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
}

.navbar a {
    color: white;
}

.dropdown-menu li a{
    color: black;  
}

.dropdown-menu{
    position: absolute;
    padding-top:5px;


}
.dropdown-menu li{
    padding:5px;

}


  /* a:hover{
    background-color: #1b9ff1;
    transition: .5s;
}  */

 nav ul li a:hover{
    color: rgb(33, 22, 9);
} 

nav ul li a{
    text-decoration: none;
}